<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("huv4v6giue1vmj2guti9", quality: 100) %>)">
  <div class="container d-flex justify-content-center">
    <h1 class="fs-1 font-monospace">New Planet</h1>
  </div>
</div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="m-3">
        <div class="row bg-light mt-3 p-3 position-relative">
          <h1>New Planet Form</h1>
        </div>
        <div class="row bg-light mt-3 p-3">
          <%= render 'form', planet: @planet %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="btn btn-dark mt-5"><%= link_to "Back to planets", planets_path, class: "text-white fs-5"%></p>
  </div>
</div>
