.itu7ddv {
  height: 100%;
  width: 100%;
}

.i1mla2as {
  object-fit: var(--dls-liteimage-object-fit);
  object-position: var(--dls-liteimage-object-position);
}

.i1cqnm0r {
  vertical-align: bottom;
}

dir {
  direction: ltr;
}

.dir-ltr {
  direction: ltr;
}
